body {
	font-family: Arial, sans-serif;
}

#container {
	margin: 0 auto;
	padding: 20px;
	width: 600px;
}

h1 {
	text-align: center;
}

input[type="text"] {
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 10px;
}