body {
	font-family: Arial, sans-serif;
}

#container {
	margin: 0 auto;
	padding: 20px;
	width: 600px;
}

h1 {
	text-align: center;
}

input[type="text"] {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}